*{
    background-color: aqua;
}

.head{
    text-align: center;
    padding: 50px;
    margin:5px;
    color: rgb(0, 0, 0);
    font-size: 3em;
}

.answers{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.ans{
    background-color: rgb(250, 5, 5);
    padding:1.5%;
    width:10%;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1rem;
}

a{
    text-decoration: none;
    color: white;
}
  
a:hover {
    color: rgb(0, 0, 0);
}