.ans5{
    text-align: center;
    font-size: 3em;
    text-decoration: underline;
}

p{
    font-size: 1.2em;
    text-align: center;
}

.answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    border: 2px solid black;
    background-color: bisque;
    margin: 80px;
    padding: 10px;
    width:auto;
}